# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/
dist/

# local env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
.vscode/

# Python
__pycache__/
*.pyc
data-pipeline/venv/
data-pipeline/cache/

# TypeScript
*.tsbuildinfo
